In [1]:
import pandas as pd

pak = pd.read_csv("Pakistan Largest Ecommerce Dataset.csv")

C:\Users\Ruqayya\AppData\Local\Temp\ipykernel_3436\635093716.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  pak = pd.read_csv("Pakistan Largest Ecommerce Dataset.csv")

In [2]:
pak.head()

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131,complete,07/01/2016,kreations_YI 06-L,1950.0,1,1950.0,100147443,Women's Fashion,\N,...,cod,07/01/2016,#REF!,"1,950",2016,7,2016-7,Jul-16,FY17,1.0
1,211133,canceled,07/01/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1,240.0,100147444,Beauty & Grooming,\N,...,cod,07/01/2016,Gross,240,2016,7,2016-7,Jul-16,FY17,2.0
2,211134,canceled,07/01/2016,Ego_UP0017-999-MR0,2450.0,1,2450.0,100147445,Women's Fashion,\N,...,cod,07/01/2016,Gross,"2,450",2016,7,2016-7,Jul-16,FY17,3.0
3,211135,complete,07/01/2016,kcc_krone deal,360.0,1,60.0,100147446,Beauty & Grooming,R-FSD-52352,...,cod,07/01/2016,Net,360,2016,7,2016-7,Jul-16,FY17,4.0
4,211136,order_refunded,07/01/2016,BK7010400AG,555.0,2,1110.0,100147447,Soghaat,\N,...,cod,07/01/2016,Valid,"1,110",2016,7,2016-7,Jul-16,FY17,5.0

In [5]:
pak.columns

Index(['item_id', 'status', 'created_at', 'sku', 'price', 'qty_ordered',
       'grand_total', 'increment_id', 'category_name_1',
       'sales_commission_code', 'discount_amount', 'payment_method',
       'Working Date', 'BI Status', ' MV ', 'Year', 'Month', 'Customer Since',
       'M-Y', 'FY', 'Customer ID'],
      dtype='object')

In [6]:
pak2 = pak.iloc[:5000]

In [7]:
pak2.describe()

,item_id,price,qty_ordered,grand_total,discount_amount,Year,Month,Customer ID
count,5000.000000,5000.000000,5000.000000,5.000000e+03,5000.000000,5000.0,5000.0,5000.00000
mean,213967.915200,3007.213270,1.143400,4.249849e+03,11.568198,2016.0,7.0,594.38900
std,1625.316109,11110.080269,0.955102,2.096757e+04,98.415329,0.0,0.0,470.18417
min,211131.000000,0.150000,1.000000,0.000000e+00,0.000000,2016.0,7.0,1.00000
25%,212574.750000,240.000000,1.000000,3.200000e+02,0.000000,2016.0,7.0,143.00000
50%,213996.500000,425.000000,1.000000,7.800000e+02,0.000000,2016.0,7.0,527.50000
75%,215368.250000,1101.500000,1.000000,1.998000e+03,0.000000,2016.0,7.0,987.00000
max,216774.000000,190725.000000,34.000000,1.155966e+06,5000.000000,2016.0,7.0,1585.00000

In [10]:
pak2.to_csv('Pakistan_Market.csv', index=False, header=True)